<app-nav-bar></app-nav-bar>

<main>
    <div class="boardWrapper">
        <div class="to-do-wrapper">
            <div class="boardTitle">To Do</div>
            <!-- <div># items</div> -->
        </div>
        <div class="in-progress-wrapper">
            <div class="boardTitle">In Progress</div>
            <!-- <div># items</div> -->
        </div>
        <div class="done-wrapper">
            <div class="boardTitle">Done</div>
            <!-- <div># items</div> -->
        </div>
    </div>
</main>


<app-footer></app-footer>