<app-nav-bar></app-nav-bar>

<div class="boardWrapper">
    <!-- TO DO -->
    <div class="listWrapper">
        <div class="titleContainer">
            <h2>To do</h2>
            <h3>| {{tasksArray.length}}</h3>
        </div>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasksArray"
            [cdkDropListConnectedTo]="[todoList, progressList]" class="example-list"
            (cdkDropListDropped)="drop($event)">

            <div *ngFor="let addedTask of tasksArray" class="example-box" cdkDrag>{{addedTask}}</div>
        </div>
    </div>



    <!-- PROGRESS -->
    <div class="listWrapper">
        <div class="titleContainer">
            <h2>In Progress</h2>
            <h3>| {{progress.length}}</h3>
        </div>

        <div cdkDropList #progressList="cdkDropList" [cdkDropListData]="progress"
            [cdkDropListConnectedTo]="[todoList, doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            @for (item of progress; track item) {
            <div class="example-box" cdkDrag>{{item}}</div>
            }
        </div>
    </div>

    <!-- DONE -->
    <div class="listWrapper">
        <div class="titleContainer">
            <h2>Done</h2>
            <h3>| {{done.length}}</h3>
        </div>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, progressList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of done; track item) {
            <div class="example-box" cdkDrag>{{item}}</div>
            }
        </div>
    </div>

    <!-- DIALOG -->
    <!-- <ol>
        
        <li>
            <button mat-raised-button (click)="openDialog()">Add Task</button>
        </li>

        @if (todo()) {
        <li>
            You chose: <em>{{todo()}}</em>
        </li>
        }
    </ol> -->

    <input type="text" placeholder="Enter" [(ngModel)]="addedTask">
    <button type="button" (click)="add()">Add</button>


    <app-footer></app-footer>